.Login {
  composes: pageLayout from '../indexForm.module.css';
}

.serverError {
  composes: serverError from '../indexForm.module.css';
}

.formContainer {
  height: 465px;
}

.form {
  composes: formLayout from '../indexForm.module.css';
  height: 290px;
}

.heading {
  composes: heading from '../indexForm.module.css';
  height: 90px;
  font-size: 1.3rem;
}

.inputContainer {
  composes: inputContainer from '../indexForm.module.css';
}

.input {
  composes: input from '../indexForm.module.css';
}

.inputError {
  composes: inputError from '../indexForm.module.css';
}

.formError {
  composes: formError from '../indexForm.module.css';
}

.button {
  composes: button from '../indexForm.module.css';
}

.buttonDisable {
  composes: buttonDisable from '../indexForm.module.css';
}

.formLoaderContainer {
  composes: formLoaderContainer from '../indexForm.module.css';
}

.formLoader {
  composes: formLoader from '../indexForm.module.css';
}

.a {
  composes: a from '../indexForm.module.css';
}
