.Login {
  composes: pageLayout from '../indexForm.module.css';
}

.loading {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.loader {
  width: 50px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.serverError {
  composes: serverError from '../indexForm.module.css';
}

.formContainer {
  height: 465px;
}

.form {
  composes: formLayout from '../indexForm.module.css';
  height: 290px;
}

.heading {
  composes: heading from '../indexForm.module.css';
  height: 90px;
  font-size: 1.3rem;
}

.inputContainer {
  composes: inputContainer from '../indexForm.module.css';
}

.input {
  composes: input from '../indexForm.module.css';
}

.inputError {
  composes: inputError from '../indexForm.module.css';
}

.formError {
  composes: formError from '../indexForm.module.css';
}

.button {
  composes: button from '../indexForm.module.css';
}

.buttonDisable {
  composes: buttonDisable from '../indexForm.module.css';
}

.formLoaderContainer {
  composes: formLoaderContainer from '../indexForm.module.css';
}

.formLoader {
  composes: formLoader from '../indexForm.module.css';
}

.a {
  composes: a from '../indexForm.module.css';
}

.break {
  composes: break from '../indexForm.module.css';
}
