.Create {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.filter {
  background: var(--create-filter-background);
  position: absolute;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.formContainer {
  background: var(--create-form-background);
  border: 1px solid var(--app-border);
  border-radius: 10px;
  position: absolute;
  top: 20vh;
  left: 25vw;
  width: 600px;
  height: 400px;
  z-index: 5;
}

.formContainer form {
  height: 100%;
  display: grid;
  grid-template-rows: 0.8fr 5fr 1.5fr;
  justify-items: center;
  z-index: 10;
}

.headerContainer {
  border-bottom: 1px solid var(--app-border);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.header {
  font-size: 1rem;
  justify-self: center;
  align-self: center;
}

.inputContainer {
  width: 90%;
  display: flex;
}

.inputContainer textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding-top: 1rem;
  resize: none;
}

.inputContainer textarea:focus {
  outline: none;
}

.inputContainer textarea::placeholder {
  font-size: 1.2rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.postButton {
  border-radius: 10px;
  background: var(--create-button-disable-background-dark-gray);
  height: 35px;
  width: 75px;
  color: var(--create-button-disable-almost-black);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  align-self: center;
  margin-right: 2rem;
  cursor: default;
  pointer-events: none;
}

.postButtonActive {
  composes: postButton;
  background: var(--create-button-background-white);
  color: var(--create-button-almost-black);
  cursor: pointer;
  pointer-events: inherit;
}

.postButtonActive:hover {
  background: var(--create-buttton-hover-light-gray);
}

.footerContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  align-items: center;
}

.footerContainer button {
  grid-column: 3/4;
}

.formError {
  grid-column: 2/3;
}
