.Post {
  border-radius: 10px;
  background: var(--input-background-dark-gray);
  margin-bottom: 20px;
  padding: 20px;
}

.Post > a {
  color: var(--button-color-white);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
