.Profile {
  min-width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  overflow: scroll;
  overflow-x: hidden;
}

.info {
  height: 100px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 10px 0 10px 0;
}

.fullName {
  font-size: 1.5rem;
  font-weight: 600;
}

.followStatus {
  border-radius: 10px;
  width: 100px;
  font-weight: 600;
  padding: 5px 15px 5px 15px;
  margin-top: 10px;
}

.follow {
  composes: followStatus;
  background: var(--profile-follow-white);
  color: var(--profile-follow-color-almost-black);
}

.follow:hover {
  background: var(--profile-follow-hover-light-gray);
}

.pending {
  composes: followStatus;
  border: 2px solid var(--profile-pending-border-white);
  color: var(--profile-pending-color-white);
  cursor: default;
}

.following {
  composes: followStatus;
  background: var(--profile-following-background-dark-gray);
  cursor: default;
}

.loading {
  composes: followStatus;
  display: flex;
  justify-content: center;
}

.loader {
  width: 25px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.error {
  composes: followStatus;
  padding: 0;
}

.postList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.postList h2 {
  align-self: flex-start;
  font-size: 1.3rem;
  margin-bottom: -15px;
}
