.loader {
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.Profile {
  padding-top: 40px;
}

.pageLoading {
  width: 600px;
  display: flex;
  justify-content: center;
}

.pageloader {
  composes: loader;
  width: 50px;
}

.pageError {
  width: 600px;
  font-size: 1.5rem;
}

.info {
  height: 100px;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 10px 0 10px 0;
}

.avatar {
  grid-row: 1/4;
  align-self: center;
  /* justify-self: center; */
}

.info img {
  width: 80px;
}

.fullName {
  font-size: 1.5rem;
  font-weight: 600;
  grid-column: 2/3;
  grid-row: 1/2;
}

.about {
  grid-column: 2/3;
  grid-row: 2/3;
}

.followStatus {
  border-radius: 10px;
  width: 100px;
  font-weight: 600;
  padding: 5px 15px 5px 15px;
  margin-top: 10px;
}

.follow {
  composes: followStatus;
  background: var(--profile-follow-white);
  color: var(--profile-follow-color-almost-black);
}

.follow:hover {
  background: var(--profile-follow-hover-light-gray);
}

.pending {
  composes: followStatus;
  border: 2px solid var(--profile-pending-border-white);
  color: var(--profile-pending-color-white);
  cursor: default;
}

.following {
  composes: followStatus;
  background: var(--profile-following-background-dark-gray);
  cursor: default;
}

.loading {
  composes: followStatus;
  display: flex;
  justify-content: center;
}

.followLoader {
  composes: loader;
  width: 25px;
}

.error {
  composes: followStatus;
  padding: 0;
}

.follow,
.pending,
.following,
.loading,
.error {
  grid-column: 2/3;
}

.postList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.postList h2 {
  align-self: flex-start;
  font-size: 1.3rem;
  margin-bottom: -15px;
}
