.Sidebar {
  max-width: 300px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 80px repeat(3, min-content) 1fr repeat(2, min-content) 30px;
  border-right: 1px solid var(--app-border);
  padding: 0 10px 0 10px;
}

.linkStyle {
  border-radius: 10px;
  text-decoration: none;
  color: var(--button-color-white);
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.logo,
.home,
.users,
.requests,
.fullName,
.logout {
  composes: linkStyle;
}

.fullName {
  grid-row: 6/7;
}

.logout {
  grid-row: 7/8;
}

.home:hover,
.users:hover,
.requests:hover,
.logout:hover {
  background: var(--button-hover-dark-gray);
}
