.Sidebar {
  max-width: 300px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 80px repeat(3, min-content) 1fr repeat(2, min-content) 30px;
  padding: 0 10px 0 10px;
}

.linkStyle {
  border-radius: 10px;
  text-decoration: none;
  color: var(--button-disable-dark-gray);
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.logo,
.home,
.users,
.requests,
.fullName,
.logout {
  composes: linkStyle;
}

.logo {
  color: var(--sidebar-white);
  font-size: 1.6rem;
  font-weight: 600;
}

.fullName {
  color: var(--sidebar-white);
  grid-row: 6/7;
}

.logout {
  grid-row: 7/8;
}

.homeActive,
.usersActive,
.requestsActive {
  composes: linkStyle;
  color: var(--sidebar-white);
  font-weight: 600;
}

.home:hover,
.users:hover,
.requests:hover,
.logout:hover,
.homeActive:hover,
.usersActive:hover,
.requestsActive:hover {
  background: var(--sidebar-hover-light-gray);
}
