.User {
  border-bottom: 2px solid var(--app-border);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px 40px 20px;
}

.User:last-child {
  border-bottom: none;
}

.User > a {
  color: var(--users-color-white);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.followStatus {
  border-radius: 10px;
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 0 15px 0 15px;
}

.follow {
  composes: followStatus;
  background: var(--user-follow-white);
  color: var(--user-follow-color-almost-black);
}

.follow:hover {
  background: var(--user-follow-hover-light-gray);
}

.pending {
  composes: followStatus;
  border: 2px solid var(--app-border);
  cursor: default;
}

.following {
  composes: followStatus;
  cursor: default;
}

.loading,
.error {
  composes: User;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
