.Request {
  composes: listItem from '../listStyle.module.css';
}

.fullName {
  composes: listName from '../listStyle.module.css';
}

.accept {
  composes: listButton from '../listStyle.module.css';
  background: var(--request-follow-white);
  color: var(--request-follow-color-almost-black);
}

.accept:hover {
  background: var(--request-follow-hover-light-gray);
}

.loading,
.error {
  composes: listButton from '../listStyle.module.css';
  padding: 0;
}

.loader {
  composes: listLoader from '../listStyle.module.css';
  width: 25px;
}
