.Request {
  composes: listItem from '../listStyle.module.css';
}

.fullName {
  composes: listName from '../listStyle.module.css';
}

.accept {
  composes: listButton from '../listStyle.module.css';
  background: var(--request-follow-white);
  color: var(--request-follow-color-almost-black);
}

.accept:hover {
  background: var(--request-follow-hover-light-gray);
}

.loadingButton {
  composes: listButton from '../listStyle.module.css';
}

.loading,
.error {
  composes: listItem from '../listStyle.module.css';
  justify-content: center !important;
  font-weight: 600;
}

.loader {
  composes: listLoader from '../listStyle.module.css';
  width: 25px;
}
