:root {
  --index-color: #ffffffde;
  --index-background-color: #121212;
  --app-border: #484848;

  /* Login, SignUp */
  --loader-border-white: #ffffffde;
  --loader-border-top-blue: #3498db;

  --input-background-dark-gray: #242424;
  --input-placeholder-light-gray: #ffffffa0;
  --input-focus-shadow-white: #ffffffde;
  --input-focus-shadow-red: #fc0000;

  --button-background-white: #ffffffde;
  --button-border-white: #ffffffde;
  --button-color-almost-black: #121212;
  --button-color-white: #ffffffde;
  --button-hover-light-gray: #ffffffd0;
  --button-hover-dark-gray: #202020;
  --button-disable-dark-gray: #ffffff85;

  /* Sidebar */
  --sidebar-white: #ffffffde;
  --sidebar-disable-dark-gray: #ffffff85;
  --sidebar-hover-light-gray: #202020;

  /* Post */
  --post-background-dark-gray: #242424;
  --post-color-white: #ffffffde;

  --like-color-light-gray: #ffffffa0;

  --comment-color-light-gray: #ffffffa0;
  --comment-input-background-dark-gray: #242424;
  --comment-input-placeholder-light-gray: #ffffffa0;
}
