.layout {
  width: 600px;
  margin-top: 40px;
}

.UserList {
  composes: layout;
  border-radius: 10px;
  border: 2px solid var(--app-border);
  display: flex;
  flex-direction: column;
}

.emptyList {
  composes: layout;
  font-size: 1.5rem;
}

.loading {
  composes: layout;
  display: flex;
  justify-content: center;
}

.loader {
  composes: listLoader from '../listStyle.module.css';
  width: 50px;
}

.error {
  composes: layout;
  font-size: 1.5rem;
}
