.User {
  composes: listItem from '../listStyle.module.css';
}

.fullName {
  composes: listName from '../listStyle.module.css';
}

.follow {
  composes: listButton from '../listStyle.module.css';
  background: var(--user-follow-white);
  color: var(--user-follow-color-almost-black);
}

.follow:hover {
  background: var(--user-follow-hover-light-gray);
}

.pending {
  composes: listButton from '../listStyle.module.css';
  border: 2px solid var(--app-border);
  cursor: default;
}

.following {
  composes: listButton from '../listStyle.module.css';
  cursor: default;
}

.loadingButton {
  composes: listButton from '../listStyle.module.css';
}

.loading,
.error {
  composes: listItem from '../listStyle.module.css';
  justify-content: center !important;
  font-weight: 600;
}

.loader {
  composes: listLoader from '../listStyle.module.css';
  width: 25px;
}
